@font-face {
    src: url(fonts/FantaisieArtistique/FantaisieArtistique.ttf);
    font-family: witcher;
}

@font-face {
    font-family: wonderland;
    src: url(fonts/BeyondWonderland/Beyond\ Wonderland.ttf);
}

@font-face {
    font-family: witcher-videogame;
    src: url(fonts/WitcherVideogame/Thewitcher-jnOj.ttf);
}

html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.container
{
    background-image: url(images/witcher-homepage-background.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    text-align: center;
    animation: backgroundFadeIn 2s;
}

.container .transparent-center-div
{
    bottom: 0;
    background: rgba(0, 0, 0, 0.342);
    color: rgb(228, 195, 5);
    margin-top: 2.5cm;
    margin-right: 12cm;
    margin-bottom: auto;
    margin-left: 12cm;
    border-radius: 1cm;
    padding-top: 1cm;
    padding-bottom: 1cm;
    padding-right: 10%;
    padding-left: 10%;
    animation: elementsFadeIn 6s;
}

.sections-header
{
    font-family: witcher-videogame;
    margin: 0;
    animation: elementsFadeIn 6s;
}

.sections-list
{
    font-family: witcher-videogame;
    font-size: 20px;
    margin: 0;
    animation: elementsFadeIn 7s;
}

.homepage-title
{
    margin: 0 auto;
    font-family: witcher;
    font-size: 45px;
    color: rgb(189, 0, 0);
    animation: elementsFadeIn 6s;
}

.homepage-title .witcher-transparent-logo
{
    bottom: 0;
    background: rgba(231, 228, 228, 0.342);
    border-radius: 5px;
    border-style:hidden;
    height: 30px;
    width: 30px;
    animation: elementsFadeIn 6s;
}

.sections-list-buttons
{
    border: none;
    background-color: inherit;
    font-family: witcher-videogame;
    font-size: 20px;
    color: rgb(228, 195, 5);
    cursor: pointer;
    display: inline-block;
    border-radius: 1cm;
}

.sections-list :hover
{
    background-color: rgba(151, 11, 1, 0.74);
    animation: buttonFadeIn 0.5s;
}

.sections-list :active
{
    background-color: rgb(121, 8, 0);
}

@keyframes buttonFadeIn
{
    from{background-color: rgba(151, 11, 1, 0);}
    to{background-color: rgba(151, 11, 1, 0.74);}
}

@keyframes elementsFadeIn {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes backgroundFadeIn {
    from{width: 0%;}
    to{width: 100%;}
}

/*-----------Conventional Breakpoints------------------*/

@media screen and (max-width: 2800px) {

    .container .transparent-center-div
    {
        margin-top: 27vh;
        margin-right: 40vh;
        margin-left: 40vh;
        padding-top: 7vh;
        padding-bottom: 7vh;
        padding-right: 5vh;
        padding-left: 5vh;
    }

    .homepage-title
    {
        font-size: 60px;
    }

    .homepage-title .witcher-transparent-logo
    {
        height: 50px;
        width: 50px;
    }

    .sections-header
    {
        font-size: 45px;
        padding: 5px;
    }

    .sections-list-buttons
    {
        font-size: 35px;
        padding: 5px;
    }
    
}

@media screen and (max-width: 2600px) {

    .container .transparent-center-div
    {
        margin-top: 28vh;
        margin-right: 40vh;
        margin-left: 40vh;
        padding-top: 7vh;
        padding-bottom: 7vh;
        padding-right: 5vh;
        padding-left: 5vh;
    }

    .homepage-title
    {
        font-size: 60px;
    }

    .homepage-title .witcher-transparent-logo
    {
        height: 40px;
        width: 40px;
    }

    .sections-header
    {
        font-size: 40px;
        padding: 0px;
    }

    .sections-list-buttons
    {
        font-size: 30px;
        padding: 2px;
    }
    
}

@media screen and (max-width: 1800px) {

    .container .transparent-center-div
    {
        margin-top: 18vh;
        margin-right: 40vh;
        margin-left: 40vh;
        padding-left: 1vh;
        padding-right: 1vh;
        padding-top: 10vh;
    }

    .homepage-title
    {
        font-size: 50px;
    }

    .homepage-title .witcher-transparent-logo
    {
        height: 40px;
        width: 40px;
    }

    .sections-header
    {
        font-size: 30px;
    }

    .sections-list-buttons
    {
        font-size: 25px;
    }
    
}

@media screen and (max-width: 1024px) {

    .container .transparent-center-div
    {
        margin-top: 18vh;
        margin-right: 30vh;
        margin-left: 30vh;
        padding-top: 7vh;
        padding-bottom: 7vh;
        padding-right: 5vh;
        padding-left: 5vh;
    }

    .homepage-title
    {
        font-size: 60px;
    }

    .homepage-title .witcher-transparent-logo
    {
        height: 50px;
        width: 50px;
    }

    .sections-header
    {
        font-size: 35px;
    }

    .sections-list-buttons
    {
        font-size: 30px;
    }
    
}

@media screen and (max-width: 863px) {

    .container .transparent-center-div
    {
        margin-top: 18vh;
        margin-right: 30vh;
        margin-left: 30vh;
        padding-top: 7vh;
        padding-bottom: 7vh;
        padding-right: 5vh;
        padding-left: 5vh;
    }

    .homepage-title
    {
        font-size: 50px;
    }

    .homepage-title .witcher-transparent-logo
    {
        height: 40px;
        width: 40px;
    }

    .sections-header
    {
        font-size: 35px;
    }

    .sections-list-buttons
    {
        font-size: 30px;
    }
    
}

@media screen and (max-width: 768px) {

    .container .transparent-center-div
    {
        margin-top: 22vh;
        margin-right: 25vh;
        margin-left: 25vh;
        padding-top: 7vh;
        padding-bottom: 7vh;
        padding-right: 5vh;
        padding-left: 5vh;
    }

    .homepage-title
    {
        font-size: 45px;
    }

    .homepage-title .witcher-transparent-logo
    {
        height: 35px;
        width: 35px;
    }

    .sections-header
    {
        font-size: 25px;
    }

    .sections-list-buttons
    {
        font-size: 20px;
    }
    
}

@media screen and (max-width: 642px) {

    .container .transparent-center-div
    {
        margin-top: 22vh;
        margin-right: 20vh;
        margin-left: 20vh;
        padding-top: 7vh;
        padding-bottom: 7vh;
        padding-right: 5vh;
        padding-left: 5vh;
    }

    .homepage-title
    {
        font-size: 40px;
    }

    .homepage-title .witcher-transparent-logo
    {
        height: 30px;
        width: 30px;
    }
    
}

@media screen and (max-width: 600px) {

    .container .transparent-center-div
    {
        margin-top: 22vh;
        margin-right: 18vh;
        margin-left: 18vh;
        padding-top: 7vh;
        padding-bottom: 7vh;
        padding-right: 5vh;
        padding-left: 5vh;
    }

    .homepage-title
    {
        font-size: 40px;
    }

    .homepage-title .witcher-transparent-logo
    {
        height: 25px;
        width: 25px;
    }
    
}

@media screen and (max-width: 560px) {

    .container .transparent-center-div
    {
        margin-top: 24vh;
        margin-right: 12vh;
        margin-left: 12vh;
        padding-top: 7vh;
        padding-bottom: 7vh;
        padding-right: 5vh;
        padding-left: 5vh;
    }

    .homepage-title
    {
        font-size: 30px;
    }

    .homepage-title .witcher-transparent-logo
    {
        height: 20px;
        width: 20px;
    }
    
}

@media screen and (max-width: 480px) {

    .container .transparent-center-div
    {
        margin-top: 24vh;
        margin-right: 12vh;
        margin-left: 12vh;
        padding-top: 7vh;
        padding-bottom: 7vh;
        padding-right: 5vh;
        padding-left: 5vh;
    }

    .homepage-title
    {
        font-size: 30px;
    }

    .homepage-title .witcher-transparent-logo
    {
        height: 20px;
        width: 20px;
    }
    
}

@media screen and (max-width: 422px) {

    .container .transparent-center-div
    {
        margin-top: 24vh;
        margin-right: 8vh;
        margin-left: 8vh;
        padding-top: 7vh;
        padding-bottom: 7vh;
        padding-right: 5vh;
        padding-left: 5vh;
    }

    .homepage-title
    {
        font-size: 25px;
    }

    .homepage-title .witcher-transparent-logo
    {
        height: 20px;
        width: 20px;
    }
    
}

@media screen and (max-width: 360px) {

    .container .transparent-center-div
    {
        margin-top: 24vh;
        margin-right: 5vh;
        margin-left: 5vh;
        padding-top: 7vh;
        padding-bottom: 7vh;
        padding-right: 5vh;
        padding-left: 5vh;
    }

    .homepage-title
    {
        font-size: 20px;
    }

    .homepage-title .witcher-transparent-logo
    {
        height: 15px;
        width: 15px;
    }

    .sections-header
    {
        font-size: large;
    }

    .sections-list-buttons
    {
        font-size: 15px;
    }
    
}

@media screen and (max-height: 800px) {

    .container .transparent-center-div
    {
        margin-top: 20vh;
        margin-right: 5vh;
        margin-left: 5vh;
        padding-top: 7vh;
        padding-bottom: 7vh;
        padding-right: 5vh;
        padding-left: 5vh;
    }

    .homepage-title
    {
        font-size: 20px;
    }

    .homepage-title .witcher-transparent-logo
    {
        height: 15px;
        width: 15px;
    }

    .sections-header
    {
        font-size: large;
    }

    .sections-list-buttons
    {
        font-size: 15px;
    }
    
}