@font-face {
    src: url(fonts/FantaisieArtistique/FantaisieArtistique.ttf);
    font-family: witcher;
}

@font-face {
    font-family: wonderland;
    src: url(fonts/BeyondWonderland/Beyond\ Wonderland.ttf);
}

@font-face {
    font-family: witcher-videogame;
    src: url(fonts/WitcherVideogame/Thewitcher-jnOj.ttf);
}

html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

.container
{
    background-image: url(images/witcher-homepage-background.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.container .transparent-center-div
{
    bottom: 0;
    background: rgba(0, 0, 0, 0.342);
    color: rgb(228, 195, 5);
    border-radius: 1cm;
    margin-left: 12cm;
    margin-right: 12cm;
    margin-top: 2.5cm;
    padding-top: 1cm;
    padding-bottom: 1cm;
    padding-right: 10%;
    padding-left: 10%;
    display: inline-block;
}

.sections-header
{
    font-family: witcher-videogame;
    margin: 0;
}

.sections-list
{
    font-family: witcher-videogame;
    font-size: 20px;
    margin: 0;
}

.homepage-title
{
    margin: 0 auto;
    font-family: witcher;
    font-size: 45px;
    color: rgb(189, 0, 0);
    font-stretch: extra-expanded;
}

.homepage-title .witcher-transparent-logo
{
    bottom: 0;
    background: rgba(231, 228, 228, 0.342);
    color: rgba(197, 0, 0, 0.671);
    border-radius: 5px;
    border-style:hidden;
    height: 30px;
    width: 30px;
}

.sections-list .homepage-sections-icons
{
    height: 20px;
    width: 20px;
}

.sections-list-buttons
{
    border: none;
    background-color: inherit;
    font-family: witcher-videogame;
    font-size: 20px;
    color: rgb(228, 195, 5);
    cursor: pointer;
    display: inline-block;
    border-radius: 1cm;
}

.sections-list :hover
{
    background-color: rgba(151, 11, 1, 0.74);
}

.sections-list :active
{
    background-color: rgb(121, 8, 0);;
}

/*-----------Conventional Breakpoints------------------*/
@media screen and (max-width: 1200px) {

    .container .transparent-center-div
    {
        margin-top: 6%;
        margin-right: 1%;
        margin-bottom: auto;
        margin-left: 1%;
    }

    .homepage-title
    {
        font-size: 60px;
    }

    .homepage-title .witcher-transparent-logo
    {
        height: 50px;
        width: 50px;
    }
}


@media screen and (max-width: 1024px) {

    .container .transparent-center-div
    {
        margin-top: 4%;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: auto;
    }

    .homepage-title .witcher-transparent-logo
    {
        height: 40px;
        width: 40px;
    }
    
}


@media screen and (max-width: 768px) {

    .container .transparent-center-div
    {
        margin-top: 7%;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: auto;
    }

    .homepage-title
    {
        font-size: 45px;
    }

    .homepage-title .witcher-transparent-logo
    {
        height: 30px;
        width: 30px;
    }
    
}


@media screen and (max-width: 480px) {

    .container .transparent-center-div
    {
        margin-top: 16%;
        margin-right: auto;
        margin-bottom: auto;
        margin-left: auto;
    }

    .homepage-title
    {
        font-size: 30px;
    }

    .homepage-title .witcher-transparent-logo
    {
        height: 20px;
        width: 20px;
    }
    
}
