@font-face {
    src: url(../fonts/FantaisieArtistique/FantaisieArtistique.ttf);
    font-family: witcher;
}

@font-face {
    font-family: wonderland;
    src: url(../fonts/BeyondWonderland/Beyond\ Wonderland.ttf);
}

@font-face {
    font-family: witcher-videogame;
    src: url(fonts/WitcherVideogame/Thewitcher-jnOj.ttf);
}

@font-face {
    font-family: journal;
    src: url(../fonts/Journal/Handwritten_Crystal_v2.ttf);
}

@keyframes elementsFadeIn {
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes vitriolShine {
    from{opacity: 1;}
    to
    {
        background-color: rgba(0, 217, 255, 0.507);
        border-radius: 10px;
    }
}

@keyframes rebisShine {
    from{opacity: 1;}
    to
    {
        background-color: rgba(0, 255, 76, 0.507);
        border-radius: 10px;
    }
}

@keyframes aetherShine {
    from{opacity: 1;}
    to
    {
        background-color: rgba(195, 0, 255, 0.507);
        border-radius: 10px;
    }
}

@keyframes quebirthShine {
    from{opacity: 1;}
    to
    {
        background-color: rgba(251, 255, 0, 0.507);
        border-radius: 10px;
    }
}

@keyframes hydragenumShine {
    from{opacity: 1;}
    to
    {
        background-color: rgb(226, 226, 226);
        border-radius: 10px;
    }
}

@keyframes vermilionShine {
    from{opacity: 1;}
    to
    {
        background-color: rgba(109, 74, 0, 0.541);
        border-radius: 10px;
    }
}

@keyframes albedoShine {
    from{opacity: 1;}
    to
    {
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
    }
}

@keyframes nigredoShine {
    from{opacity: 1;}
    to
    {
        background-color: rgba(0, 0, 0, 0.541);
        border-radius: 10px;
    }
}

@keyframes rubedoShine {
    from{opacity: 1;}
    to
    {
        background-color: rgba(109, 0, 0, 0.541);
        border-radius: 10px;
    }
}

html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

input,
textarea,
button,
select,
a,
div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.container
{
    background-image: url(../images/witcher-bestiary-background.jpg);
    height: max-content;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    text-align: center;
    animation: elementsFadeIn 1s;

    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.homepage-title
{
    margin: 0 auto;
    font-family: witcher;
    font-size: 45px;
    color: rgb(189, 0, 0);
    animation: elementsFadeIn 2s;
}

.homepage-title .witcher-transparent-logo
{
    bottom: 0;
    background: rgba(231, 228, 228, 0.342);
    border-radius: 5px;
    border-style:hidden;
    height: 30px;
    width: 30px;
    animation: elementsFadeIn 3s;
}

.grid-col
{
    display:grid;
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
    padding-bottom: 50px;
    margin-top: 5vh;
}

h2
{
    font-family: journal;
    color: rgb(180, 0, 0);
}

ul
{
    margin: 0px 0px 5% 0px;
    padding: 0px;
}

li
{
    font-family: journal;
    font-size: large;
    list-style-position: inside;
}

.grid-ingredients
{
    display: grid;
    grid-template-columns: repeat(1);
    height: max-content;
    border: 10px solid transparent;
    padding: 0px;
    border-image: url(../images/border.png) 70 round;
    background-image: url(../images/icons/notebook-clipart-old-writing-paper-5.png);
    background-repeat:repeat-y;
    background-position: center;
    background-size: 120% 120%;
}

.grid-ingredients li:hover
{
    cursor: pointer;
}

.grid-elements
{
    display: grid;
    grid-template-columns: repeat(1);
    top: 0;
    position: sticky;
    height: max-content;
    background-image: url(../images/icons/notebook-clipart-old-writing-paper-5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*-----------Conventional Breakpoints------------------*/

@media screen and (max-width: 2800px) {

    /* to fix */
    
}

@media screen and (max-width: 2600px) {

    /* to fix */
    
}

@media screen and (max-width: 1300px) {

    .grid-col
    {
        display:grid;
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
        margin-top: 2vh;
    }
    
}

@media screen and (max-width: 1024px) {

    .grid-col
    {
        display:grid;
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
        margin-top: 2vh;
    }
    
}

@media screen and (max-width: 863px) {

    
    
}

@media screen and (max-width: 700px) {

    .grid-col
    {
        display:grid;
        grid-template-columns: repeat(2, 250px);
        justify-content: center;
        margin-top: 2vh;
    }
    
}

@media screen and (max-width: 490px) {

    .grid-col
    {
        display:grid;
        grid-template-columns: repeat(2, 180px);
        justify-content: center;
        margin-top: 2vh;
    }
    
}

@media screen and (max-height: 800px) {

    .container
    {
        height: max-content;
    }
    
}