/*Fonts and animations*/
@font-face {
    src: url(../fonts/FantaisieArtistique/FantaisieArtistique.ttf);
    font-family: witcher;
}

@font-face {
    font-family: wonderland;
    src: url(../fonts/BeyondWonderland/Beyond\ Wonderland.ttf);
}

@font-face {
    font-family: witcher-videogame;
    src: url(../fonts/WitcherVideogame/Thewitcher-jnOj.ttf);
}

@font-face {
    font-family: journal;
    src: url(../fonts/Journal/Handwritten_Crystal_v2.ttf);
}

@keyframes elementsFadeIn {
    from{opacity: 0;}
    to{opacity: 1;}
}
.aard{
    color: rgb(0, 0, 196);
}
@keyframes elementsFadeOut {
    from{opacity: 1;}
    to{opacity: 0;}
}

@keyframes sign-shine-aard {
    from{box-shadow: 0px 0px 0px 0px #0077ff00;}
    to{box-shadow: 0px 0px 200px 100px #0077ff;}
}

@keyframes sign-shine-quen {
    from{box-shadow: 0px 0px 0px 0px #0077ff00;}
    to{box-shadow: 0px 0px 150px 100px #ffc400;}
}

@keyframes sign-shine-igni {
    from{box-shadow: 0px 0px 0px 0px #0077ff00;}
    to{box-shadow: 0px 0px 200px 100px #cc1800;}
}

@keyframes sign-shine-yrden {
    from{box-shadow: 0px 0px 0px 0px #0077ff00;}
    to{box-shadow: 0px 0px 200px 100px #6400a7;}
}

@keyframes sign-shine-axii {
    from{box-shadow: 0px 0px 0px 0px #0077ff00;}
    to{box-shadow: 0px 0px 200px 100px #00a708;}
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
      margin-top: -30%;
      
    }
    to {
      transform: rotate(360deg);
      margin-top: 100%;
    }
}

@keyframes anti-rotation {
    from {
      transform: rotate(360deg);
      margin-top: 100%;
      
    }
    to {
      transform: rotate(0deg);
      margin-top: -30%;
    }
}

/*Key elements*/

html, body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

.container
{
    background-image: url(../images/witcher-bestiary-background.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

.the-signs-title
{
    margin: 0 auto;
    font-family: witcher;
    font-size: 45px;
    color: rgb(189, 0, 0);
    animation: elementsFadeIn 2s;
}

.the-signs-title .witcher-transparent-logo
{
    bottom: 0;
    color: rgba(197, 0, 0, 0.671);
    border-radius: 5px;
    border-style:hidden;
    height: 30px;
    width: 30px;
    animation: elementsFadeIn 3s;
}

.grid-col
{
    display:grid;
    grid-template-columns: repeat(5, 230px);
    margin-top: -30px;
    justify-content: center;
}

.foot-note
{
    margin-top: 10%;
    font-family: witcher;
    font-size: 20px;
    color: rgb(189, 0, 0);
    animation: elementsFadeIn 2s;
}

/*The cells that will be overlapped by the png, will play the custom animations as to not create a background color for the png when playing*/
/*You have to play the rotate animation here on click if you want*/
.cell-aard
{
    background-color: rgba(114, 114, 114, 0);
    padding: 10px;
    margin-top: 100%;
    margin-right: auto;
    margin-bottom: auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 10px 10px 500px 100px #0077ff;
    font-family: journal;
    font-size: 17px;
    color: brown;
    animation: elementsFadeIn 4s;
    animation: sign-shine-aard 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.cell-quen
{
    background-color: rgba(114, 114, 114, 0);
    padding: 10px;
    margin-top: 100%;
    margin-right: auto;
    margin-bottom: auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 10px 10px 500px 100px #fffb00;
    font-family: journal;
    font-size: 17px;
    color: brown;
    animation: elementsFadeIn 4s;
    animation: sign-shine-quen 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.cell-igni
{
    background-color: rgba(114, 114, 114, 0);
    padding: 10px;
    margin-top: 100%;
    margin-right: auto;
    margin-bottom: auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 10px 10px 500px 100px #fffb00;
    font-family: journal;
    font-size: 17px;
    color: brown;
    animation: elementsFadeIn 4s;
    animation: sign-shine-igni 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.cell-yrden
{
    background-color: rgba(114, 114, 114, 0);
    padding: 10px;
    margin-top: 100%;
    margin-right: auto;
    margin-bottom: auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 10px 10px 500px 100px #fffb00;
    font-family: journal;
    font-size: 17px;
    color: brown;
    animation: elementsFadeIn 4s;
    animation: sign-shine-yrden 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.cell-axii
{
    background-color: rgba(114, 114, 114, 0);
    padding: 10px;
    margin-top: 100%;
    margin-right: auto;
    margin-bottom: auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 10px 10px 500px 100px #fffb00;
    font-family: journal;
    font-size: 17px;
    color: brown;
    animation: elementsFadeIn 4s;
    animation: sign-shine-axii 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/*The signs png icons*/
.aard
{
    height: 100%;
    background-image: url(../images/icons/aard.png);
    background-size: cover;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    margin-top: -30%;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: -25%;
    border-radius: 50%;
}

.quen
{
    height: 100%;
    background-image: url(../images/icons/quen.png);
    background-size: cover;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    margin-top: -30%;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: -25%;
    border-radius: 50%;
}

.igni
{
    height: 100%;
    background-image: url(../images/icons/igni.png);
    background-size: cover;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    margin-top: -30%;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: -25%;
    border-radius: 50%;
}

.yrden
{
    height: 100%;
    background-image: url(../images/icons/yrden.png);
    background-size: cover;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    margin-top: -30%;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: -25%;
    border-radius: 50%;
}

.axii
{
    height: 100%;
    background-image: url(../images/icons/axii.png);
    background-size: cover;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    margin-top: -30%;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: -25%;
    border-radius: 50%;
}
 /*Hover on icons*/
.aard:hover
{
    cursor: pointer;
}

.quen:hover
{
    cursor: pointer;
}

.igni:hover
{
    cursor: pointer;
}

.yrden:hover
{
    cursor: pointer;
}

.axii:hover
{
    cursor: pointer;
}

/* MEDIA QUERIES */

@media screen and (max-width: 2800px) {

    /* to fix */
    
}

@media screen and (max-width: 2600px) {

    /* to fix */
    
}

@media screen and (max-width: 1300px) {

    .grid-col
    {
        display:grid;
        grid-template-columns: repeat(3, 230px);
        margin-top: -30px;
        justify-content: center;
    }

    .container
    {
        height: 140%;
    }

    .homepage-title .witcher-transparent-logo
    {
        background: rgba(231, 228, 228, 0.342);
    }
    
}

@media screen and (max-width: 1024px) {

    .grid-col
    {
        display:grid;
        grid-template-columns: repeat(3, 230px);
        margin-top: -30px;
        justify-content: center;
    }

    .container
    {
        height: 140%;
    }

    .homepage-title .witcher-transparent-logo
    {
        background: rgba(231, 228, 228, 0.342);
    }
    
}

@media screen and (max-width: 863px) {

    
    
}

@media screen and (max-width: 700px) {

    .grid-col
    {
        display:grid;
        grid-template-columns: repeat(3, 230px);
        margin-top: -30px;
        margin-left: 7%;
        justify-content: center;
    }

    .container
    {
        height: 140%;
    }

    .homepage-title .witcher-transparent-logo
    {
        background: rgba(231, 228, 228, 0.342);
    }
    
}

@media screen and (max-width: 642px) {

    .grid-col
    {
        display:grid;
        grid-template-columns: repeat(2, 210px);
        margin-top: -30px;
        margin-left: 7%;
        justify-content: center;
    }

    .container
    {
        height: 210%;
    }
    
}

@media screen and (max-width: 422px) {

    .grid-col
    {
        display:grid;
        grid-template-columns: repeat(2, 180px);
        margin-top: -30px;
        margin-left: 7%;
        justify-content: center;
    }
    
}

@media screen and (max-width: 370px) {

    .grid-col
    {
        display:grid;
        grid-template-columns: repeat(1, 150px);
        margin-top: -30px;
        justify-content: center;
    }

    .container
    {
        height: 410%;
    }
    
}

@media screen and (max-height: 800px) {

    .container
    {
        height: max-content;
    }
    
}